extends layout

block content
  h1= title
   if (toShow == null)
    h2 No instance to Update
   else

  - let carsid = toShow._id 
  - let cName = toShow.cName
  - let cSize = toShow.cSize
  - let cCost = toShow.cCost
   
  div.row(class='mb-2') 
    div.mr-1 ID is 
    div #{carsid} 
  - let actionid = "/resource/cars/" + carsid 
  form(id='carsForm', action= actionid, method="PUT") 
    div.form-group 
        label.carsAttr(for='cName') cName 
        input#cars_type(type='text', name='cName', value= cars_type ) 
    div.form-group 
        label.carsAttr(for='cSize') cSize
        input#size(type='number', name='cSize', value= quantity) 
    div.form-group 
        label.carsAttr(for='cCost') cCost 
        input#cost(type='number', name='cCost', value= cost) 
    input(type="submit") 
 
  script. 
    document.forms['carsForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'PUT', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Update succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Update failed " + error ) 
      }); 
    });